.content h1.cont {
  max-width: 100%;
  padding-top: 10px;
  padding-left: 5%;
  text-align: center;
  padding: 10px;
}

div.abertura {
  padding-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aber {
  width: 90%;
}


@media screen and (max-width: 600px) {
  div.content {
    font-size: .7em;
  }

  div.abertura {
    padding-top: 10px;
  }

  h1.cont {
    padding-left: 0px;
  }


}