.content .title{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em 0;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: .8em;
  padding-bottom: 5px;
  padding-top: 5px;
  
  margin-top: 10px;
  margin-bottom: 10px;
}

.content .title span{
  margin-left: 1em;
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.containerDEMONSTR{
  display: flex;
  margin-top: 0px;
  margin-bottom: 1em;
  background-color: #f5f2f2;
  border-radius: 5px;
  padding: .8em;
  max-width: 100%;
  justify-content: space-between;
  font-size: 12px;
}

.containerDEMONSTR .label{
  font-size: 0.65em; 
}

.containerDEMONSTR .input, 
.containerDEMONSTR .select{
  font-size: 1.2em;
  padding: 0.4em;
}

.containerDEMONSTR .grupo{
  display: grid !important;
  float: left;
  margin: 5px 1%;
}

.containerDEMONSTR .ano,
.containerDEMONSTR .mes {
  width: 120px;
  margin-bottom: 0px;
}

.containerDEMONSTR .prod{
  max-width: 350px;
  margin-bottom: 0px;
}

.containerDEMONSTR .codProdx {
  /* para deixar o campo invisível */
  display: none;
  visibility: hidden;
}

.containerDEMONSTR .grupoBTN{
  width: 90%;
  margin: 0px 10px;
  display: flex;
  margin-top: 7px;
}

.containerDEMONSTR .btn-register{
  padding:  5px 5px;
  height: 35px;
  border:0;
  border-radius: 10px;
  background-color:rgb(185, 183, 183);
  color: #181c2e;
  font-size: 1.2em;
  width: 200px;
} 

.containerDEMONSTR .btn-register2{
  padding:  5px 5px;
  height: 35px;
  border:0;
  border-radius: 10px;
  background-color: rgb(185, 183, 183);
  color: #181c2e;
  font-size: 1.3em;
  margin-left: 10px;
  width: 200px;
} 

.containerDEMONSTR .btn-register3{
  padding:  5px 5px;
  height: 35px;
  border:0;
  border-radius: 10px;
  background-color: rgb(235, 86, 86);
  /*color: #181c2e;*/
  color: #FFF;
  font-size: 1.3em;
  margin-left: 10px;
  width: 200px;
} 

.form-demonstr {
  display: flex;
  margin-top: 5px;
  width: 100%;
  flex-wrap: wrap;
}

.form-demonstr label{
  margin-bottom: .5em;
  font-size: 1.1em;
}

.form-demonstr input, 
.form-demonstr select {
  margin-bottom: 1em;
  padding: .5em;
  border-radius: 5px;
  max-width: 600px;
  font-size: 1.1em;
  border: 1px solid #CCC;
}

.form-demonstr img{
  margin-bottom: 1em;
  border-radius: 50%;
  object-fit: cover;
}

.form-demonstr input:disabled{
  cursor: not-allowed;
}

.form-demonstr button{
  max-width: 600px;
}

.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard span{
  margin: 2em 0;
  font-weight: 600;
  font-size: 1.2em;
}

.content h1 {
  max-width: 100%;
  padding-top: 10px;
  padding-left: 35%;
}

.table_Demonstr {
  border: 1px solid #CCC;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-left: 220px;
  max-width: 80%;
}

.table_Demonstr caption{
  font-size: 1.4em;
  margin: .5em 0 .75em;
}

.table_Demonstr tr{
  /*background-color: #f8f8f8;*/
  padding: .35em;
}

.table_Demonstr th,
.table_Demonstr td{
  border: 1px solid rgb(151, 150, 150);
  padding: .62em;
  text-align: center;
  font-size: .85em;
  padding-top: 4px;
  padding-bottom: 4px;  
}

.table_Demonstr th{
  background-color: rgb(182, 180, 180);
  font-size: .65em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.table_Demonstr td .action{
  border:0;
  padding: 5px;
  margin-right: 2px;
  align-items: center;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.table_Demonstr td .action svg{
  vertical-align: middle;
}

.table_Demonstr td .badge{
  padding: 3px;
  border-radius: 3px;
  color: #FFF;
}

.thead_Demonstr th:nth-child(1) {
  width: 5%;
}
.tbody_Demonstr td:nth-child(1) {
  background-color: rgb(182, 180, 180);
}

.thead_Demonstr th:nth-child(2) {
  width: 40%;
}
.tbody_Demonstr td:nth-child(2) {
  text-align: left;
}
  
.thead_Demonstr th:nth-child(3) {
  width: 15%;
}
.tbody_Demonstr td:nth-child(3) {
  text-align: right;
}

.thead_Demonstr th:nth-child(4) {
  width: 15%;
}
.tbody_Demonstr td:nth-child(4) {
  text-align: right;
}

.thead_Demonstr th:nth-child(5) {
  width: 15%;
}
.tbody_Demonstr td:nth-child(5) {
  text-align: right;
}

.thead_Demonstr th:nth-child(6) {
  width: 15%;
}
.tbody_Demonstr td:nth-child(6) {
  text-align: right;
}

.thead_Demonstr th:nth-child(7) {
  width: 15%;
}
.tbody_Demonstr td:nth-child(7) {
  text-align: right;
}

.thead_Demonstr th:nth-child(8) {
  width: 5%;
}
.tbody_Demonstr td:nth-child(8) {
  text-align: center;
}

.thead_Demonstr th:nth-child(9) {
  width: 15%;
}
.tbody_Demonstr td:nth-child(9) {
  text-align: right;
}



@media screen and (max-width: 600px){
  .table_Demonstr {
    margin-left: 20px;
    border: 0;
  }

  .table_Demonstr caption {
    font-size: 1.3em;
  }

  .table_Demonstr .thead_Demonstr {
    border:none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table_Demonstr tr{
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .65em;
  }

  .table_Demonstr td{
    border-bottom: 1px solid #DDD;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .tbody_Demonstr td:nth-child(1),
  .tbody_Demonstr td:nth-child(2) {
    text-align: right;
  }

  .table_Demonstr td::before{
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table_Demonstr td:last-child{
    border-bottom: 0;
  }

}